.Header {
  background: var(--second-color);
  padding: 1.5em;
  padding-bottom: 3%;
}


.logo {
  max-width: 12%;
  position: absolute;

}

.title-header {
  align-self: center;
  color: var(--main-color);
}
