.member-title {
    margin-bottom: 8%;
}

.member-container {
    margin-bottom: 8%;
}

label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .form {
    margin: 2em 0 4em 0;
    text-align: center;
  }

  .button, .form-name {
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  button[type=submit]:hover {
    background-color: #f76c6c;
}